<div id="mainBody">
	<div class="container">
		
		<h1>Contáctanos</h1>
		<hr class="soften"/>	
		<div id = "contact_conten" class="row">
			<div class="span4">
			<h4>Información: </h4>
			<p>	Espol<br/> Guayaquil, Ecuador
				<br/><br/>
				info@bootsshop.com<br/>
				﻿Tel 123-456-6780<br/>
				Fax 123-456-5679<br/>
				web:bootsshop.com
			</p>
			<div class="row">
	
	
		<iframe width="500" height="350"   src="https://www.openstreetmap.org/export/embed.html?bbox=-79.96918201446535%2C-2.1474046960721735%2C-79.9627983570099%2C-2.1434699733360234&amp;layer=mapnik&amp;marker=-2.1454373359694503%2C-79.96599018573761" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=-2.14544&amp;mlon=-79.96599#map=18/-2.14544/-79.96599">Ver mapa más grande</a></small>
		</div>
	
			</div>
				
			
			<div class="span4">
			<h4>Escríbenos: </h4>
			<form class="form-horizontal">
			<fieldset>
			  <div class="control-group">
			   
				  <input type="text" placeholder="Nombre" class="input-xlarge"/>
			   
			  </div>
	
			  <div class="control-group">
			   
				  <input type="text" placeholder="Fecha de Nacimiento" class="input-xlarge"/>
			  
			  </div>
	
			  <div class="control-group">
			   
				  <input type="text" placeholder="Lugar de Origen" class="input-xlarge"/>
			  
			  </div>
			  
			   <div class="control-group">
	  
				  <input type="text" placeholder="Correo" class="input-xlarge"/>
			   
			  </div>
			   <div class="control-group">
			   
				  <input type="text" placeholder="Asunto" class="input-xlarge"/>
			  
			  </div>
	
			  
	
			  <div class="control-group">
				  <textarea rows="3" id="textarea" class="input-xlarge"></textarea>
			   
			  </div>
	
				<button class="btn btn-large" type="submit">Enviar</button>
	
			</fieldset>
		  </form>
			</div>
		</div>
		
	</div>
	</div>
	