<div id="principal">
	<div class="caja1 cabecera" >
		<br/>
	 <h2>¿Quiénes somos?</h2>
	   
	   Somos una tienda en línea con presencia a nivel Nacional, 
	   trabajando con vendedores nacionales.<br/>
	   Queremos hacer tu vida más sencilla mientras ayudamos a 
	   quienes lo necesiten.
	</div>
	<br/>
<div class="caja2 cabecera">
<br/>
		<h2>Desarrolladores:</h2>


	<li><a>Adam Navarrete</a> </li>
	<li> <a>Angel Jumbo </a> </li>
	<li><a>Cindy Bohorquez</a>  </li>
	<li> <a>Milton García</a>  </li>

</div>
</div>

