<section>

	<div class="caja1 cabecera" >
		<br/>
	 <h2>¿Quiénes somos?</h2>
	   
	   Somos una tienda en línea <br/>con presencia a nivel Nacional, 
	   trabajando con <br/>vendedores nacionales.
	   Queremos hacer tu vida más sencilla <br/>mientras ayudamos a 
	   quienes lo necesiten.
	</div>
	<div class="cajaImg" >
		<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/image/1.png?raw=true" alt="image/1.png" class="imagen cabecera" >
	</div>	

<br/>
<div class="contenedorMarcas">

	 Marcas que confían en nosotros<br/>
	 <div class="marca">
	<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/image/ganga.jpg?raw=true" alt="ganga.jpg">
	 </div>
	 <div class="marca">
			<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/image/lc.jpg?raw=true" alt="lc.jpg">
	  
		</div>
		<div class="marca">
			<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/image/dp.jpg?raw=true" alt="dp.jpg">
			</div>
			<div class="marca">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/image/ce.jpg?raw=true" alt="ce.jog">
				</div>
	
			<br/>

				<div class="marca">
	<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/image/dec.jpg?raw=true" alt="dec.jpg">
	 </div>
	 <div class="marca">
			<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/image/yf.jpg?raw=true" alt="yf.jpg">
	  
		</div>
		<div class="marca">
			<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/image/pl.jpg?raw=true" alt="pl.jpg">
			</div>
			<div class="marca">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/image/bi.jpg?raw=true" alt="bi.jog">
				</div>
</div>
<div class="caja2 cabecera">
<br/>
		<h2>Desarrolladores:</h2>
<br/><br/>
<ul id="lista">
	<li><a>Adam Navarrete</a> </li>
	<li> <a>Angel Jumbo </a> </li>
	<li><a>Cindy Bohorquez</a>  </li>
	<li> <a>Milton García</a>  </li>
</ul>
</div>

</section>