<form name="myForm" class="text-center border border-light p-5" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>

		<p class="h4 mb-4">Registro</p>
  
		<div class="form-row mb-4">
		  <div class="col">
			<!-- First name -->
			<input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Nombres" name="nombres" ngModel ng-required="myVar" >
		  </div>
		  <div class="col">
			<!-- Last name -->
			<input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Apellidos" name="apellidos" ngModel>
		  </div>
		</div>
		
  
		<input type="text" id="cedulaUsuario" class="form-control mb-4" placeholder="Cedula" name="cedula" ngModel>

		<input type="text" id="direccionUsuario" class="form-control mb-4" placeholder="Direccion" name="direccion" ngModel>

		<!-- E-mail -->
		<input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="Correo" name="email" ngModel> 
  
		<!-- Password -->
		<input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock" name="contrasenia" ngModel>
		<small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
		  At least 8 characters and 1 digit
		</small>
  
		<!-- Phone number -->
		


		<select class="browser-default custom-select mb-4" name="rol" ngModel>
				<option value="" disabled>Seleccione rol</option>
				
				<option value="1">Comprador</option>
				<option value="2">Vendedor</option>
			  </select>
  
		<!-- Newsletter -->
		
  
		<!-- Sign up button -->
		<div>
				<button  class="btn btn-success btn block" block="true" type="submit" ng-model="myVar">Registro</button>
		</div>
		<!-- Social register -->
		
  
		<hr>
  
		<!-- Terms of service -->
		<p>Bienvenido a Buy & Help
		  <a routerLink="/about" target="_blank">Acerca de nosotros</a></p>
  
</form>
	  <!-- Default form register -->
	