<div id="signId">
	<div class="container">


	<div class="span9">
   
	<h2 >Registro</h2>	
	<hr class="soft"/>
	
	<div style="align-content: center">
		<div >
			<div ><!-- !!!!!!!!!!!!!!!!!!!!!!-->
				<h3 >Crea tu cuenta</h3>
				
				
				  <div class="control-group">
					
					<label class="control-label" for="Nombre">Nombre: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="span3"  type="text" id="Nombre">
					</label>
					
					<label class="control-label" for="apellido">Apellido: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="span3"  type="text" id="apellido" >
					</label>
					
					<label class="control-label" for="inputEmail0">Correo: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input class="span3"  type="text" id="inputEmail0" >
					</label>
					
					<label class="control-label" for="Clave">Clave: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="span3"  type="password" id="Clave" >
					</label>
					
					<label class="control-label" for="Clave">Dirección:  &nbsp;&nbsp;&nbsp;&nbsp;
						<input class="span3"  type="password" id="direccion" >
					</label>	
				  </div>
				  <div class="controls">
				  <button class="btn btn-success " type="submit" routerLink="/">Crear cuenta</button>
				  </div>
			
			</div>
		</div>
		
	</div>	
	
	
</div>

</div>
</div>