<body>
	<!-- Header ================================================================== -->
	<div id="header"></div>

	<!-- Section body ================================================================== -->
	<section>
		<h1>Ventas Concretadas</h1>
		<div id="listado_ventas">
			<table class="table table-striped table-hover table-bordered">
				  <thead>
				    <tr>
				      <th scope="col">Código</th>
				      <th scope="col">Comprador</th>
				      <th scope="col">Fecha</th>
				      <th scope="col">Cantidad Articulos</th>
				      <th scope="col">Total</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr *ngFor="let pago of pagos">
				      <th scope="row" >{{pago.id}}</th>
				      <td>{{pago.pedido.comprador.first_name}} {{pago.pedido.comprador.last_name}}</td> 
				      <td>{{pago.fecha_pago}}</td>
				      <td>{{pago.pedido.articulos.length}}</td>
				      <td>$ {{pago.pedido.total_venta}}</td>
				    </tr>
				  </tbody>
			</table>

		</div>
		<a routerLink="/panel-control"><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/administrador/back_button.png?raw=true" id="back_button" alt="boton de retroceso"></a>
	</section>



</body>