<h3 id='title'>Registra tu producto</h3>
		<hr class="soften"/>
<form name="myForm" class="text-center border border-light p-5 ml-auto" #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate >

		
		
		<div class="form-row mb-4">
		  <div class="col">
			<!-- First name -->
			<input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="Titulo" name="nombre" ngModel ng-required="myVar" >
		  </div>
		  <div class="col">
			<!-- Last name -->
			<input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Descripcion" name="descrip" ngModel ng-required="myVar">
		  </div>
		</div>
  
		<input type="float" id="donacion" class="form-control mb-4" placeholder="% de donacion" name="donacion" ngModel ng-required="myVar">

		<input type="float" id="precio" class="form-control mb-4" placeholder="Precio" name="precio" ngModel ng-required="myVar">


		<select class="browser-default custom-select mb-4" name="categoria" ngModel ng-required="myVar">
				<option value="" disabled>Seleccione categoria</option>
				
				<option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.nombre}}</option>
		</select>

		<div>
		
		<input type="file" (change)="onFileChanged($event)"> 
	</div>

	
  
		
		<!-- Newsletter -->
		
  
		<!-- Sign up button -->
		<br>
		<div>
				<button  class="btn btn-success btn block" block="true" type="submit" ng-model="myVar">Subir</button>
		</div>
		<!-- Social register -->
		
  
		<hr>
  
		<!-- Terms of service -->
		<p>Gracias por permanecer con nosotros
		  <a routerLink="/about" target="_blank">Acerca de nosotros</a></p>
  
</form>





