<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
	
	</div>
<!-- Sidebar end=============================================== -->

	<div class="span9">
   
	<h3>Registro de producto</h3>	
	<hr class="soft"/>
	
	<div style="align-content: center">
		<div >
			<div ><!-- !!!!!!!!!!!!!!!!!!!!!!-->
				<h4 id="ingr">Ingresa los datos del producto</h4>



				
				<form action="index.html">
				  <div class="control-group " >
					<label class="control-label" for="Nombre">Nombre: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="span3"  type="text" id="Nombre" ></label>
					  
					<label class="control-label" for="Apellido">Precio: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="span3"  type="text" id="Apellido" ></label>
					
					<label class="control-label" for="inputEmail0">Descripcion: &nbsp;&nbsp;&nbsp;<input  class="span3"  type="text" id="inputEmail0" ></label>
					
          <input type="file" (change)="onFileChanged($event)">       
          

         

          
        
					
					
				  </div>
				  <div class="controls">
				  <button class="btn btn-success btn block" type="submit">Subir producto</button>
				  </div>
				</form>
			</div>
		</div>
		
	</div>	
	
	
</div>
</div>
</div>
