
	<h1 style="display: none">.</h1>
	<div id="mainBody">
		<div class="container">
		<div class="row">
	<!-- Sidebar ================================================== -->
		<article>
		<div id="sidebar" class="span4">
		<img scr="https://i.gyazo.com/8e1d5e008e0744d9dafd4418a72cde37.png" alt="" height="200" width="100">
		<!-- 
	
		  <div class="well-small"><a id="myCart" href="product_summary.html"><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/ico-cart.png?raw=true" alt="cart">3 Art. en tu carrito <span class="badge badge-warning pull-right">$155.00</span></a></div>
			<ul id="sideManu" class="nav nav-tabs nav-stacked">
				<li class="subMenu open"><a>ELECTRONICA [230]</a>
				  <ul>
					<li><a class="active" href="products.html"><i class="icon-chevron-right"></i>Cámaras (100) </a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Computadoras, Tablets & Laptops (30)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Celulares (80)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Sonido y Visión (15)</a></li>
				  </ul>
			  </li>
				<li class="subMenu"><a> ROPA [840] </a>
				  <ul style="display:none">
					<li><a href="products.html"><i class="icon-chevron-right"></i>Women's Clothing (45)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Women's Shoes (8)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Women's Hand Bags (5)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Men's Clothings  (45)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Men's Shoes (6)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Kids Clothing (5)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Kids Shoes (3)</a></li>
				  </ul>
				</li>
				<li class="subMenu"><a>COMIDA Y BEBIDAS [1000]</a>
				  <ul style="display:none">
					<li><a href="products.html"><i class="icon-chevron-right"></i>Angoves  (35)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Bouchard Aine & Fils (8)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>French Rabbit (5)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Louis Bernard  (45)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>BIB Wine (Bag in Box) (8)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Other Liquors & Wine (5)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Garden (3)</a></li>
					<li><a href="products.html"><i class="icon-chevron-right"></i>Khao Shong (11)</a></li>
				  </ul>
				</li>
				<li><a href="products.html">SALUD Y BELLEZA [18]</a></li>
				<li><a href="products.html">DEPORTES Y OCIO[58]</a></li>
				<li><a href="products.html">LIBROS & ENTRETENIMIENTO[14]</a></li>
				<li class="subMenu open"></li>
			</ul>
			<br/>
	
				
			
			<div id="bolsillos_index">
				<h4>Sugerencias</h4> 
			  <div class="thumbnail">
				<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/panasonic.jpg?raw=true" alt="Bootshop panasonoc New camera"/>
				<div class="caption">
				  <h5 class="nombreBolsillo">Panasonic</h5>
					<h4 style="text-align:center"><a   > <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Añadir a <i class="icon-shopping-cart"></i></a> <a  href="#">$222.00</a></h4>
				</div>
			  </div><br/>
				<div class="thumbnail">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/kindle.png?raw=true" title="Bootshop New Kindel" alt="Bootshop Kindel">
					<div class="caption">
					  <h5 class="nombreBolsillo">Kindle</h5>
						<h4 style="text-align:center"><a   > <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Añadir a <i class="icon-shopping-cart"></i></a> <a href="#">$222.00</a></h4>
					</div>
				  </div>
			</div>
	
		
				  <br/>
				<div class="thumbnail">
					<img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/payment_methods.png?raw=true" title="Bootshop Payment Methods" alt="Payments Methods">
					<div class="caption">
					  <h5>Métodos de Pago</h5>
					</div>
				  </div>
	
		-->		
		</div>
		</article>
	<!-- Sidebar end=============================================== -->


	<div *ngFor="let articulo of articulos" class="col-sm-4">
			<!--img src="{{articulo.imagenes[0]}}" class="card-img-top" alt="..."-->
			<div class="card">
			  <div class="card-body">
				<h5 class="card-title">{{articulo?.nombre}}</h5>
				<p class="card-text">
						{{articulo?.descrip}}
					</p>
				<p class="card-text">
						{{articulo?.precio}}
				</p>
			  </div>
			</div>
	</div>
	<button class="btn btn-primary" (click)="probar()">probar</button>

		<article>
			<div id="mascotas_index" class="span9">		
				<div class=" well-small" id="carrusel">
				<!--<h4>Mascotas en Adopción <small class="pull-right">200+ featured products</small></h4>-->
				<div class="row-fluid">
				<div id="featured" class="carousel slide">
				<div class="carousel-inner">
				  <div class="item active">
				  <ul class="thumbnails">
					<li class="span3">
					  <div class="thumbnail">
					  <i class="tag"></i>
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/b1.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <h4><a class="btn"  >Mayra</a> <span class="pull-right">$222.00</span>  </h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
					  <i class="tag"></i>
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/b2.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
					  <i class="tag"></i>
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/b3.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						   <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
					  <i class="tag"></i>
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/b4.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						   <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
				  </ul>
				  </div>
				   <div class="item">
				  <ul class="thumbnails">
					<li class="span3">
					  <div class="thumbnail">
					  <i class="tag"></i>
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/5.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
					  <i class="tag"></i>
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/6.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/7.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						   <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/8.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						   <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
				  </ul>
				  </div>
				   <div class="item">
				  <ul class="thumbnails">
					<li class="span3">
					  <div class="thumbnail">
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/9.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/10.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/11.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						   <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/1.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						   <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
				  </ul>
				  </div>
				   <div class="item">
				  <ul class="thumbnails">
					<li class="span3">
					  <div class="thumbnail">
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/2.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/3.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/4.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						   <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a  ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/5.jpg?raw=true" alt=""></a>
						<div class="caption">
						  <h5>Product name</h5>
						   <h4><a class="btn"  >VIEW</a> <span class="pull-right">$222.00</span></h4>
						</div>
					  </div>
					</li>
				  </ul>
				  </div>
				  </div>
				  <a class="left carousel-control" href="#featured" data-slide="prev">‹</a>
				  <a class="right carousel-control" href="#featured" data-slide="next">›</a>
				  </div>
				  </div>
			</div>
		</div>
		</article>
		<article>
			<div id="productos_index">
				
	
				<h3 style="margin-top: 10em; margin-bottom: 1em">Productos más Recientes </h3>
	
				  <ul class="thumbnails">
					  
					<li class="span3">
					  <div class="thumbnail">
						<a   ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/6.jpg?raw=true" alt=""/></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <p> 
							Lorem Ipsum is simply dummy text. 
						  </p>
						 
						  <a class="producto"  > <img src="https://image.flaticon.com/icons/png/512/55/55369.png" alt="" height="15" width="15">
							<div class="detalle-producto"><img class="img-zoom" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/6.jpg?raw=true" alt=""> </div>
							</a> <a class="btn" href="#">Añadir a<img src="https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png" alt="" height="20" width="20"></a> <a class="precio" >$222.00 <div class="detalles">Donacion: 10%</div></a>
							
						<!--/h4-->
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a   ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/7.jpg?raw=true" alt=""/></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <p> 
							Lorem Ipsum is simply dummy text. 
						  </p>
							 <a class="producto"  > <img src="https://image.flaticon.com/icons/png/512/55/55369.png" alt="" height="15" width="15">
							<div class="detalle-producto"><img class="img-zoom" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/7.jpg?raw=true" alt=""> </div>
							</a> <a class="btn" href="#">Añadir a<img src="https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png" alt="" height="20" width="20"></a> <a class="precio" >$222.00 <div class="detalles">Donacion: 10%</div></a>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a   ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/8.jpg?raw=true" alt=""/></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <p> 
							Lorem Ipsum is simply dummy text. 
						  </p>
						   <a class="producto"  > <img src="https://image.flaticon.com/icons/png/512/55/55369.png" alt="" hheight="15" width="15">
							<div class="detalle-producto"><img class="img-zoom" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/8.jpg?raw=true" alt=""> </div>
						   </a><a class="btn" href="#">Añadir a<img src="https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png" alt="" height="20" width="20"></a> <a class="precio" >$222.00 <div class="detalles">Donacion: 10%</div></a>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a   ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/9.jpg?raw=true" alt=""/></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <p> 
							Lorem Ipsum is simply dummy text. 
						  </p>
						  <a class="producto"  > <img src="https://image.flaticon.com/icons/png/512/55/55369.png" alt="" height="15" width="15">
							<div class="detalle-producto"><img class="img-zoom" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/9.jpg?raw=true" alt=""> </div>
							</a> <a class="btn" href="#">Añadir a<img src="https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png" alt="" height="20" width="20"></a> <a class="precio" >$222.00 <div class="detalles">Donacion: 10%</div></a>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a   ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/10.jpg?raw=true" alt=""/></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <p> 
							Lorem Ipsum is simply dummy text. 
						  </p>
						  <a class="producto"  > <img src="https://image.flaticon.com/icons/png/512/55/55369.png" alt="" height="15" width="15">
							<div class="detalle-producto"><img class="img-zoom" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/10.jpg?raw=true" alt=""> </div>
							</a> <a class="btn" href="#">Añadir a<img src="https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png" alt="" height="20" width="20"></a> <a class="precio" >$222.00 <div class="detalles">Donacion: 10%</div></a>
						</div>
					  </div>
					</li>
					<li class="span3">
					  <div class="thumbnail">
						<a   ><img src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/11.jpg?raw=true" alt=""/></a>
						<div class="caption">
						  <h5>Product name</h5>
						  <p> 
							Lorem Ipsum is simply dummy text. 
						  </p>
						   <a class="producto"  > <img src="https://image.flaticon.com/icons/png/512/55/55369.png" alt="" height="15" width="15">
							<div class="detalle-producto"><img class="img-zoom" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/themes/images/products/11.jpg?raw=true" alt=""> </div>
							</a> <a class="btn" href="#">Añadir a<img src="https://cdn4.iconfinder.com/data/icons/shopping-21/64/shopping-01-512.png" alt="" height="20" width="20"></a> <a class="precio" >$222.00 <div class="detalles">Donacion: 10%</div></a>
						</div>
					  </div>
					</li>
	
				  </ul>	
				</div>
			</article>
	
			</div>
			</div>
	</div>
	
		<script src="assets/js/bootshop.js"></script>
		<script src="assets/js/jquery.lightbox-0.5.js"></script>