<div id="mainBody">
	<div class="container">
	<div class="row">
<!-- Sidebar ================================================== -->
	
	</div>
<!-- Sidebar end=============================================== -->

	<div class="span9">
   
	<h2 >Inicio de sesión</h2>	
	<hr class="soft"/>
	
	<div style="align-content: center ">
		<div >
			<div ><!-- !!!!!!!!!!!!!!!!!!!!!!-->
				<h3 >Ingresa tus datos</h3>
				
				<form action="index.html">
				  <div class="control-group">
					
					
						<label class="control-label" for="Nombre">Usuario: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="span3"  type="text" id="Nombre">
					</label>
					
					<label class="control-label" for="apellido">Clave: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input class="span3"  type="text" id="apellido" >
					</label>
					
					
          </div>	
				  <div class="controls">
				  <button class="btn btn-success " type="submit" onclick="window.location='./index.html'">Crear cuenta</button>
				  </div>
				</form>
			</div>
		</div>
		
	</div>	
	
	
</div>

</div>
</div>
<!-- MainBody End ============================= -->
<!-- Footer ================================================================== -->
<div  id="footer"></div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->



