
<!-- Default form subscription -->
<form class="text-center border border-light p-5" #f="ngForm" (ngSubmit)="buscarUsuario(f)">

  <p class="h4 mb-4">Inicio de sesión</p>

  <!-- Name -->
  <input type="text" id="Username" class="form-control mb-4" placeholder="username" name="username" ngModel>

  <!-- Email -->
  <input type="password" id="password" class="form-control mb-4" placeholder="Contraseña" name="password" ngModel>

  <!-- Sign in button -->
  <button class="btn btn-success btn block" block="true" type="submit">Inicio</button>

</form>

<div id='error' *ngIf="erroneos">Datos Incorrectos</div>