
<!-- Default form subscription -->
<form class="text-center border border-light p-5" #f="ngForm" (ngSubmit)="buscarUsuario(f)">

  <p class="h4 mb-4">Inicio de sesión</p>

  

  <!-- Name -->
  <input type="email" id="Correo" class="form-control mb-4" placeholder="Cedula" name="cedula" ngModel>

  <!-- Email -->
  <input type="password" id="Clave" class="form-control mb-4" placeholder="Contraseña" name="contrasenia" ngModel>

  <!-- Sign in button -->
  <button class="btn btn-success btn block" block="true" type="submit">Inicio</button>

  


</form>

<div id='error' *ngIf="erroneos">Datos Incorrectos</div>