<div id="footerSection">
	<div class="container text-center">
		<div class="row">
			

			 <div class="col-md-3 mb-md-0 mb-3">

				<!-- Links -->
				<h5 class="title1">Cuenta</h5>
		
				<ul class="list-unstyled">
				  <li>
					<a  class= "text" routerLink="/login">Iniciar Sesión</a>
				  </li>
				  <li>
					<a class= "text" routerLink="/sign">Registrarse</a>
				  </li>
				  
				</ul>
		
			  </div>
			  <!-- Grid column -->
		
			  <!-- Grid column -->
			  <div class="col-md-3 mb-md-0 mb-3">
		
				<!-- Links -->
				<h5 class="title1">Acerca de:</h5>
		
				<ul class="list-unstyled">
				  <li>
					<a  class= "text" routerLink="/about">Nosotros</a> 
				  </li>
				  <li>
					<a  class= "text" routerLink="/contact">Contacto</a> 
				  </li>
				  <li>
					<a  class= "text" routerLink="/admin">Administración</a>  
				  </li>
				  
				</ul>
		
			  </div>

			
			<div id="socialMedia" class="span3 pull-right">
				<h5 class="title1">Redes sociales </h5>
				<a href="https://www.facebook.com/" target="_blank"><img width="60" height="60" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/facebook.png?raw=true" title="facebook" alt="facebook"/></a>
				<a href="https://twitter.com" target="_blank"><img width="60" height="60" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/youtube.png?raw=true" title="twitter" alt="twitter"/></a>
				<a href="https://www.youtube.com/" target="_blank"><img width="60" height="60" src="https://github.com/AngelJumbo/DAW_BuyAndHelp/blob/master/bootstrap-shop/administrador/html/themes/images/twitter.png?raw=true" title="youtube" alt="youtube"/></a>
			 </div> 
		 </div>

	</div><!-- Container End -->

	

	</div>

	<div class="footer-copyright text-center py-3">© 2019 Copyright
		
	</div>